---
layout: default
title: 逸品劝败
group: navigation
---
<section class="content">
	<div class="content-cnt fn-clear">
        <pre>Note: 发现有趣好玩的东西，比如智能硬件，物联网，互联网产品，写下自己的测评或者分析之类的</pre>
		<div class="main fn-clear">
			{% for  rpost in site.categories.yipin %}
            	<article class="main-excerpt fn-clear">
                    <h3 class="main-excerpt-title"><a href="{{ rpost.url }}" title="{{ rpost.title }}" rel="bookmark">{{ rpost.title }}</a></h3>
                    <p class="date"><time pubdate="{{ rpost.date }}">{{ rpost.date | date_to_string }}</time></p>
                    <p>{{ rpost.excerpt }}</p>
                   	<p class="more"><a href="{{ rpost.url }}" title="Read More" rel="nofollow"><span>&#10149;</span>Read More</a></p>
                </article>
      {% endfor %}
      {% if paginator.total_pages > 1 %}
		        <nav id="pagination">
		            <ul class="pagination">
		            	  {% if paginator.previous_page %}
		            	  		<li>
                            <a href="{{ paginator.previous_page_path}}">&laquo; 上一页</a>
                        </li>
                    {% endif %}
		                {% for page in (1..paginator.total_pages) %}
		                    {% if page == paginator.page %}
		                        <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
		                    {% else %}
		                        <li><a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
		                    {% endif %}
		                {% endfor %}
		                {% if paginator.next_page %}
                        <li><a href="{{ paginator.next_page_path}}">下一页 &raquo;</a></li>
                    {% endif %}
		            </ul>
		        </nav>
		  {% endif %}			
		</div>
		<div class="aside fn-clear">
		
		</div>
	</div>
</section>
